.CreateListForm {
    width: 30em;
    display: grid;

    th {
        text-align: left;
    }

    .ListProperties {
        grid-row: 1;
        grid-column: 1;
    }

    .SkipReasons {
        grid-row: 1;
        grid-column: 2;
    }
}