.App {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.App .ToDoListCollection {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.App .ToDoList {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.App .calendar {
  grid-column: 3;
  grid-row: 1;
}

.App .history {
  grid-column: 3;
  grid-row: 2;
}

.u-lock-scroll {
  overflow: hidden !important;
}