.ColorPicker {
    display: flex;
    flex-direction: row;
    align-items: center;

    .cp-preview {
        width: 18px;
        height: 18px;
    }
    
    .cp-hex {
        margin-left: 4px;
    }
}
