.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  
  & > .todo-list-collection {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  
  & > .todo-list {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  
  & > .calendar {
    grid-column: 3;
    grid-row: 1;
  }
  
  & > .history {
    grid-column: 3;
    grid-row: 2;
  }
}